-- Example seed: menu
INSERT INTO menus (id, tenant_id, name, created_at)
SELECT gen_random_uuid(), id, 'Main Menu', now() FROM tenants LIMIT 1;

INSERT INTO menu_items (id, menu_id, name, price, is_active, created_at)
SELECT gen_random_uuid(), m.id, v.name, v.price, TRUE, now()
FROM menus m, (VALUES ('Margherita', 12.5), ('Burger', 14.0), ('Fries', 5.0), ('Lemonade', 4.5)) v(name, price)
WHERE m.name = 'Main Menu';
