-- Example seed: orders and order_items
INSERT INTO orders (id, tenant_id, location_id, customer_id, status, total_amount, created_at)
SELECT gen_random_uuid(), t.id, NULL, c.id, 'paid', 34.5, now()
FROM tenants t
CROSS JOIN customers c
LIMIT 1;

INSERT INTO order_items (id, order_id, menu_item_id, quantity, unit_price, total_price)
SELECT gen_random_uuid(), o.id, mi.id, 1, mi.price, mi.price
FROM orders o
JOIN menu_items mi ON TRUE
LIMIT 2;
