-- Example seed: customers
INSERT INTO customers (id, tenant_id, full_name, email, phone, created_at)
SELECT gen_random_uuid(), t.id, 'Alex Rivera', 'alex@kravon.test', '+12025551234', now() FROM tenants t LIMIT 1;
