-- Daily revenue by day
SELECT
  date_trunc('day', o.created_at) AS day,
  SUM(o.total_amount) AS total_revenue,
  COUNT(*) AS order_count
FROM orders o
WHERE o.created_at >= now() - interval '30 days'
GROUP BY 1
ORDER BY 1 DESC;
