-- Top-selling menu items by order quantity
SELECT mi.name AS menu_item,
  SUM(oi.quantity) AS total_quantity,
  SUM(oi.total_price) AS total_revenue
FROM order_items oi
JOIN menu_items mi ON oi.menu_item_id = mi.id
GROUP BY mi.name
ORDER BY total_quantity DESC
LIMIT 10;
