-- Repeat customer rate for last 90 days
WITH customer_orders AS (
  SELECT customer_id, COUNT(*) AS orders_count
  FROM orders
  WHERE created_at >= now() - interval '90 days'
  GROUP BY customer_id
)
SELECT
  COUNT(*) FILTER (WHERE orders_count > 1) AS repeat_customers,
  COUNT(*) AS total_customers,
  ROUND(100.0 * COUNT(*) FILTER (WHERE orders_count > 1) / NULLIF(COUNT(*), 0), 2) AS repeat_rate_pct
FROM customer_orders;
